@import 'variables';
@import 'mixins';


// --------------------------------------------------------------
// styles généraux
// --------------------------------------------------------------

body * {
    font-family: $texts-font;
}

h1 {
    font-family: $titles-font;
    font-size: 50px;
    color: white;
}


// --------------------------------------------------------------
// styles du header
// --------------------------------------------------------------



.header {
    width: 100vw;
    height: 126px;
    background-color: $main-color;
    display: flex;
    align-items: center;
    &_logo, &_icons{
        position: absolute;
    }
    &_logo{
        left: 40px;
    }
    &_icons{
        right: 40px;
        width: 109px;
        display: flex;
        justify-content: space-between;
    }
}



// --------------------------------------------------------------
// styles du login
// --------------------------------------------------------------



.global_container {
    background-color: $main-color;
    width: 100vw;
    height: 100vh;
    height: 100vh;
}

.global_container, #login_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input, button {
    border-radius: 50px;
    width: 310px;
    height: 50px;
    // color: white;
    padding: 0;
}

button {
    margin-bottom: 30px;
}

input {
    background-color: transparent;
    border: 1px solid white;
    margin-bottom: 45px;
}

#password {
    margin-bottom: 100px;
}

.btn-primary {
    background-color: $second-color;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

