@import 'variables';
@import 'mixins';


// --------------------------------------------------------------
// styles généraux
// --------------------------------------------------------------

body * {
    font-family: $texts-font;
}

h1 {
    font-family: $titles-font;
    font-size: 50px;
    color: white;
}


// --------------------------------------------------------------
// styles du header
// --------------------------------------------------------------



.header{
    width: 100vw;
    height: 126px;
    background-color: $main-color; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 90vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    &_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        &_li {
            list-style: none;
            &_link {
                text-decoration: none;
                color: white;
                transition: 0.7s ease;
            }
            &_link:hover {
                color: $second-color;
            }
        }
    }
    &_burger {
        display: none;
        cursor: pointer;
        &_bar {
            display:block;
            width: 25px;
            background-color: white;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
    }
    @media(max-width: $tablet) {
        &_burger {
            display: block;
        }
        &_burger.active {
            .nav_burger_bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            .nav_burger_bar:nth-child(2) {
                opacity: 0;
            }
            .nav_burger_bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
        &_menu {
            position: fixed;
            left: -100%;
            top: 126px;
            gap: 0;
            flex-direction: column;
            background-color: $gray;
            width: 100%;
            text-align: center;
            transition: 0.3s;
            &_li {
                margin: 16px 0;
                &_link {
                    color: $main-color;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
        &_menu.active {
            left: 0;
        }
    }
}




// --------------------------------------------------------------
// styles du login
// --------------------------------------------------------------



.global_container {
    background-color: $main-color;
    width: 100vw;
    height: 100vh;
}

.global_container, #login_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input, button {
    border-radius: 50px;
    width: 310px;
    height: 50px;
    // color: white;
    padding: 0;
}

button {
    margin-bottom: 30px;
}

input {
    background-color: transparent;
    border: 1px solid white;
    margin-bottom: 45px;
}

#password {
    margin-bottom: 100px;
}

.btn-primary {
    background-color: $second-color;
    border: none;
    font-size: 14px;
    font-weight: bold;
}


// --------------------------------------------------------------
// styles du dashboard
// --------------------------------------------------------------


.users_list {
    width: 80vw;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 55px;
    @media(min-width: $tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.user {
    height: 274px;
    width: 228px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_img {
        width: 144px;
        height: 144px;
        background-color: $main-color;
        border-radius: 100%;
    }
    &_names {
        font-weight: bold;
        font-size: 25px;
        color: $main-color
    }
    &_form {
        width: 100%;
    }
    &_btn {
        width: 100%;
        margin: 0;
        color: white;
    }
}

.grade_title {
    text-align: center;
    color: $main-color;
    margin-top: 25px;
}


// --------------------------------------------------------------
// styles de la page details
// --------------------------------------------------------------

.user_details {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 795px;
    position: absolute;
    top:140px;
    &_img {
        background-color: $second-color;
        width: 325px;
        height: 325px;
        border-radius: 100%;
    }
    &_infos {
        width: 310px;
        height: 175px;
        background-color: rgba(0,0,0, 0.2);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &_infos * {
        color: white;
        font-size: 14px;
        margin-left: 20px;
    }
    &_names {
        color: white;
        font-size: 25px;
        font-weight: bold;
    }
    &_buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 150px;
        width: 80vw;
        @media(min-width: $tablet) {
            justify-content: space-around;
        }
        button, input{
            margin-bottom: 0px;
        }
    }
}