// --------------------------------------------------------------
// styles du header
// --------------------------------------------------------------
@import 'variables';


header {
    width: 100vw;
    height: 126px;
    background-color: $main-color;
}