body * {
  font-family: "Segoe UI";
}

h1 {
  font-family: "Abhaya libre medium";
  font-size: 50px;
  color: white;
}

label, select {
  margin-bottom: 30px;
}

label {
  color: #054545;
}

.btn-primary, .btn-secondary {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.7s ease;
}

.btn-primary {
  background-color: #C76666;
  border: none;
  color: white;
}

.btn-primary:hover {
  border: 1px solid #C76666;
  color: #C76666;
  background-color: white;
}

.btn-secondary {
  border: 1px solid #C76666;
  color: #C76666;
  background-color: white;
}

.btn-secondary:hover {
  background-color: #C76666;
  border: none;
  color: white;
}

.header {
  width: 100vw;
  height: 126px;
  background-color: #054545;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 90vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.nav_menu_li {
  list-style: none;
}
.nav_menu_li_link {
  text-decoration: none;
  color: white;
  transition: 0.7s ease;
}
.nav_menu_li_link:hover {
  color: #C76666;
}
.nav_burger {
  display: none;
  cursor: pointer;
}
.nav_burger_bar {
  display: block;
  width: 25px;
  background-color: white;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .nav_burger {
    display: block;
  }
  .nav_burger.active .nav_burger_bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .nav_burger.active .nav_burger_bar:nth-child(2) {
    opacity: 0;
  }
  .nav_burger.active .nav_burger_bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav_menu {
    position: fixed;
    left: -100%;
    top: 126px;
    gap: 0;
    flex-direction: column;
    background-color: #F8F6F6;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav_menu_li {
    margin: 16px 0;
  }
  .nav_menu_li_link {
    color: #054545;
    font-size: 20px;
    font-weight: bold;
  }
  .nav_menu.active {
    left: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .nav_menu.active li:last-child {
    margin-bottom: 50px;
  }
}

.global_container {
  background-color: #054545;
  width: 100vw;
  height: 100vh;
}

.global_container, #login_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input, button {
  border-radius: 50px;
  width: 310px;
  height: 50px;
  padding: 0;
}

button {
  margin-bottom: 30px;
  cursor: pointer;
}

input {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid white;
  margin-bottom: 45px;
}

#password {
  margin-bottom: 100px;
}

.users_list {
  width: 80vw;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 55px;
}
@media (min-width: 768px) {
  .users_list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.user {
  height: 274px;
  width: 228px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.user_img {
  width: 144px;
  height: 144px;
  background-color: #054545;
  border-radius: 100%;
}
.user_names {
  font-weight: bold;
  font-size: 25px;
  color: #054545;
}
.user_form {
  width: 100%;
}
.user_btn {
  width: 100%;
  margin: 0;
  color: white;
}

.grade_title {
  text-align: center;
  color: #054545;
  margin: 25px 0;
}

#grade, #grade form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user_details {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 795px;
  position: absolute;
  top: 140px;
}
.user_details_img {
  background-color: #C76666;
  width: 325px;
  height: 325px;
  border-radius: 100%;
}
.user_details_infos {
  width: 310px;
  height: 175px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.user_details_infos * {
  color: white;
  font-size: 14px;
  margin-left: 20px;
}
.user_details_names {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.user_details_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 150px;
  width: 80vw;
}
@media (min-width: 768px) {
  .user_details_buttons {
    justify-content: space-around;
  }
}
.user_details_buttons button, .user_details_buttons input {
  margin-bottom: 0px;
}

.signup-form input, .modify-form input {
  border: 1px solid #C76666;
}

.signup-form, .modify-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

#image {
  border: none;
}

/*# sourceMappingURL=output.css.map */
