/* ---------------------------------------------------------------
styles plus généraux
--------------------------------------------------------------- */

body {
    font-family: 'Segoe UI';
}







/* ---------------------------------------------------------------
styles du header
--------------------------------------------------------------- */

header {
    background-color: #054545;
    width: 100vw;
    height: 126px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 68px;
    height: 68px;
    margin-left: 29px;
}

.icons {
    height: 27px;
    width: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 29px;
}

.menu {
    height: 18px;
}

.user {
    width: 27px;
    height: 27px;
}